body {
    background-color: #fff;
    padding: 2em;
    }

h1 {
    font-family: 'Frijole', cursive;
    font-size: xx-large;
    }

a {
    text-decoration: none;
    font-size: x-large;
    padding: .5em .2em .5em 0;
    }
